.print{
	padding: 2mm;
	width: 210mm;
	background-color: white;
	
}

button{
	width: 210mm !important;
	display: block;
	margin: 5px auto 65px !important;
}

.print h3,.print>div{
/*	padding: 5px;*/
	border-bottom: 1px solid #8B8B8B;
}

.print>div{
	
	padding: 10px 5px 5px 100px !important;
}

/*
.print>div:not(:first-child){
	display: inline-block;
}
*/

.print table{
	width: 60%;
	
	
}

.print img{
	vertical-align: top;
	height: 50mm;
}

/*
.print>div{
	padding: 3mm !important;
	
}
*/

.print>div>*{
	display: inline-block;
}

/*
.print>div>p{
	color: #8B8B8B;
	font-weight: bold;
	width: 25%;
}
*/

.rw>p{
	color: #8B8B8B;
	font-weight: bold;
	width: 25%;
}

.rw>div{
	width: 70%;
}

.frs{
	font-style: italic;
}

.scn{
	font-weight: bold;
}

.tr{
	font-style:oblique;
}

.print tr{
	
	border-bottom: 1px dotted #8B8B8B;	
}

.print td{
	width: 50%;
	
}

.print p{
	vertical-align: top;
/*	margin-right: 75px;*/
}



