.print{
	padding: 2mm !important;
	width: 210mm;
	background-color: white;
	
}

.print img{
	margin-bottom: 3mm !important;
	height: 40mm;
}

.print a{
	text-align: left;
}

.print a>img{
	width: 4mm;
}

.print h1{
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
}

.row>div>div{
	margin-bottom: 10mm !important;
}

.print>p{
	text-align: center;
	font-size: 17px;
	margin-bottom: 7mm !important;
}

.lc h2,.lc p{
	text-align: right;
}

h2{
	text-transform: uppercase;
	font-size: 25px;
	margin-bottom: 3mm !important;
}

span{
	font-weight: bold;
}

.lc,.rc{
	padding-left: 7mm !important;
	padding-right: 7mm !important;
}

.btnprn{
	width: 210mm;
	margin: 0 auto;
}

.btnprn>button{
	margin-top: 10px;
	margin-bottom: 80px !important;
}

.gitlink:before{
	content: url("../img/git-logo.svg");
	display: inline-block;
    vertical-align: middle;
    font-style: normal;
}

.linkedin:before{
	content: url("../img/linked-logo.svg");
	display: inline-block;
    vertical-align: middle;
    font-style: normal;
}

.facebook:before{
	content: url("../img/facebook-logo.svg");
	display: inline-block;
    vertical-align: middle;
    font-style: normal;
}
